[Unit]
Description=LoRa Message Handler (Redis → Redis + SQlite)
After=network-online.target redis.service
Wants=network-online.target

[Service]
Type=simple
User=ttnuser
Group=ttnuser

WorkingDirectory=/home/ttnuser/ttn-message-interceptor
ExecStart=/home/ttnuser/ttn-message-interceptor/message_handler.py

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=message-handler

[Install]
WantedBy=multi-user.target
